body{
    background-color:#DEF5E5;
}
hr{
    border-color:blue; 
    border-style: none; 
    background-color: #DEF5E5;
    border-top-style: dotted; 
    width: 5%;
    border-width: 5px;
}
h1{
    color: blueviolet;
}